<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>確認ページ</title>
	<meta charset="utf-8" />
<link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>

<body class="Ebody-Cbody">
	<h1>変更内容の確認</h1>
<!--	<h1 th:text="${title}"></h1>-->

	<div th:object="${input}">
		<p th:text="*{name}"></p>
		<p>を変更します。よろしいですか？</p>
	</div>

	<form method="get" action="#" th:action="@gameにリダイレクト" th:object="${input}">
		<input type="hidden" name="name" th:value="*{name}">
		<input type="submit" value="はい" class="s-button">
	</form>
	<form method="get" action="#" th:action="@{/edit}" th:object="${input}">
		<input type="hidden" name="name" th:value="*{name}">
		<input type="submit" value="いいえ" class="update-button ">
	</form>
</body>

</html>