<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>GameClear</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
	<link
		href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=DotGothic16&display=swap"
		rel="stylesheet">
</head>

<body class="gameclear-body">
	<!--	<h1 th:text="${title}"></h1>-->
	<h1>ゲームクリア</h1>

	<form method="post" action="#" th:action="@{/start}" th:object="${input}">

		<p>おめでとうございます！</p>

		<input type="submit" value="スタート画面へ" class="start-button">
	</form>
</body>

</html>