<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>マインスイーパー - トップ</title>
	<link rel="stylesheet" href="../../static/style.css" th:href="@{/style.css}">
</head>

<body>
	<div class="container">
		<h1>マインスイーパー</h1>

		<section class="instructions">
			<h2>操作方法</h2>
			<ul>
				<li>ああ</li>
				<li>いい</li>
				<li>うう</li>
			</ul>
		</section>

		<div class="buttons">
			<a href="/" class="button start">ゲーム開始</a>
		</div>
	</div>
</body>
</html>